{% extends "layout/base-auth.html" %}
{% load static %}
{% block title %} Login {% endblock %}


{% block content %}

<div class="col-md-6">
  <div class="m-5">
      <h2 data-aos="fade-up" class="text-center" data-aos-delay="250">Welcome!</h2>
      {% if msg %}
        <p class="text-danger text-center" data-aos="fade-up" data-aos-delay="300"> {{ msg | safe }} </p>
      {% elif messages %}
      {% for message in messages %}
        <div class="alert {% if message.tags %} {{ message.tags }} {% endif %} alert-dismissible fade show" role="alert" data-aos="fade-up" data-aos-delay="300">
          <strong>Holy anonymous!</strong> {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      {% endfor %}
      {% else %}
        <p class="text-center" data-aos="fade-up" data-aos-delay="300">Enter your credential</p>
      {% endif %}
  </div>
  <form method="post" class="m-5" data-aos="fade-up" data-aos-delay="500">
    {% csrf_token %}
    {{ form.username }}
    {{ form.password }}
    <button type="submit" name="login" id="submit-button"  class="form-control">Log In</button>
  </form>
  <p class="text-center" data-aos="fade-up" data-aos-delay="500">Not a member? <a href="{% url 'register' %}" class="active">Sign Up</a></p>
</div>
<div class="col-md-6" data-aos="fade-up" data-aos-delay="500">
  <img data-aos="fade-up" data-aos-delay="500" src="{% static 'img/login-register/login_img.svg' %}" alt="login" class="img-fluid p-5">
</div>

{% endblock content %}
