{% extends "layout/base.html" %}
{% load static %}
{% block title %} Cart {% endblock %}

{% block content %}

<section class="bg-light">
        <div class="container pb-5">

            {% for item in cart_info %}
            <div class="row">
                <div class="col-lg-12 {% if forloop.first %} mt-5 {% else %} mt-3 {% endif %}">
                    <div class="card">
                      <div class="card-body">
                            <div class="row">
                                <div class="col-3 col-lg-2">
                                    <img class="img-fluid" src="{{ item.product__image }}" alt="Card image cap" id="product-detail">
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title">{{ item.product__name }}</h5>
                                    <h6 class="card-subtitle mb-2 mb-lg-3 text-muted">Size : {{ item.product__size__name }}</h6>
                                    <h6 class="card-subtitle mb-2 mb-lg-3 text-muted">Price : Rp. {{ item.product__price }}</h6>
                                    <h6 class="card-subtitle mb-2 mb-lg-3 text-muted">Quantity : {{ item.quantity }}</h6>
                                    <h6 class="card-text"><strong>Total Rp. {{ item.price_total }}</strong></h6>
                                </div>
                            </div>
                      </div>
                      <div class="card-footer">
                        <div class="row justify-content-center">
                            <form method="POST" class="col-6 d-grid">
                                {% csrf_token %}
                                <input type="hidden" name="cart_id" value="{{ item.cart_id }}">
                                <button type="submit" name="delete_cart" class="btn btn-light fa fa-trash" style="color: grey;"></button>
                            </form>
                            <div class="col-6 d-grid">
                                <a href="/checkout.html" class="btn btn-success">Buy</a>
                            </div>

                        </div>
                      </div>
                    </div>
                </div>
            </div>
            {% endfor %}

        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>
{% endblock %}