{% extends "layout/base.html" %}
{% load static %}
{% block title %} Cart {% endblock %}

{% block content %}

<section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-12 mt-5">
                    <div class="card">
                      <div class="card-body">
                            <div class="row">
                                <div class="col-3 col-lg-2">
                                    <img class="img-fluid" src="{% static 'img/banner_AGV_1.png' %}" alt="Card image cap" id="product-detail">
                                </div>
                                <div class="col-6">
                                    <h5 class="card-title">Helm Memek</h5>
                                    <h6 class="card-subtitle mb-2 text-muted">Size : L</h6>
                                    <p class="card-text"><strong>Rp. 100.000</strong></p>
                                </div>
                            </div>
                      </div>
                      <div class="card-footer">
                        <div class="row justify-content-center">
                            <div class="col-6 col-lg-3 d-flex navbar">
                                Quantity
                                <a class="nav-icon position-relative text-decoration-none"><span class="btn fa fa-minus-circle" style="color: #59AB6E;" id="btn-minus"></span></a>
                                <a class="nav-icon position-relative text-decoration-none"><span class="text-secondary" id="var-value">1</span></a>
                                <a class="nav-icon position-relative text-decoration-none"><span class="btn fa fa-plus-circle" style="color: #59AB6E;" id="btn-plus"></span></a>
                            </div>
                            <div class="col-2 col-lg-3 d-grid">
                                <button type="submit" value="delete_cart" class="btn btn-light fa fa-trash" style="color: grey;"></button>
                            </div>
                            <div class="col-4 col-lg-6 d-grid">
                                <button type="submit" value="buy" class="btn btn-success">Buy</button>
                            </div>
                        </div>
                      </div>
                    </div>
<!--                    <div class="card">-->


<!--                    </div>-->
                </div>
            </div>
        </div>
    </section>

{% endblock %}
{% block javascripts %}
    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>
{% endblock %}