{% extends "layout/base.html" %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
<section class="bg-light">
        <div class="container pb-5">
			<div class="row">
				<div class="col-lg-6">
					<div class="box-element" id="form-wrapper">
						<form id="form" method="POST">
							{% csrf_token %}
							<div id="user-info">
								<div class="form-field">
									<input required class="form-control" type="text" {% if request.user.full_name %} value="{{ request.user.full_name }}" {% endif %} name="name" placeholder="Name..">
								</div>
								<div class="form-field">
									<input required class="form-control" type="email" {% if request.user.email %} value="{{ request.user.email }}" {% endif %} name="email" placeholder="Email..">
								</div>
							</div>

							<div id="shipping-info">
								<hr>
								<p>Shipping Information:</p>
								<hr>
								<div class="form-field">
									<input class="form-control" type="text" name="address" {% if request.user.address %} value="{{ request.user.address }}" {% endif %} placeholder="Address..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="city" {% if request.user.city %} value="{{ request.user.city }}" {% endif %} placeholder="City..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="province" placeholder="Province.." {% if request.user.province %} value="{{ request.user.province }}" {% endif %}>
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="zipcode" placeholder="Zip code.." {% if request.user.zip_code %} value="{{ request.user.zip_code }}" {% endif %}>
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="country" placeholder="Country.." {% if request.user.country %} value="{{ request.user.country }}" {% endif %}>
								</div>
								{% for item in request.session.data %}
								{% if request.session.cart_id %}
								<input type="hidden" name="cart-id" value="{{ item.cart_id }}">
								{% endif %}
								<input type="hidden" name="product-id" value="{{ item.id }}">
								<input type="hidden" name="product-name" value="{{ item.name }}">
								<input type="hidden" name="product-size" value="{{ item.size }}">
								<input type="hidden" name="product-qty" value="{{ item.quantity }}">
								<input type="hidden" name="product-price" value="{{ item.price }}">
								{% endfor %}

								<input type="hidden" name="product-total" value="{{ request.session.total }}">
							</div>

							<hr>
							<button id="pay-button" class="btn btn-success btn-block" type="submit">Continue</button>
						</form>
					</div>

					<br>

				</div>

				<div class="col-lg-6">
					<div class="box-element">
						<a  class="btn btn-outline-dark" href="/cart.html">&#x2190; Back to Cart</a>
						<hr>
						<h3>Order Summary</h3>
						<hr>
						{% for item in request.session.data %}
						<div class="cart-row">
							<div style="flex:2"><img class="row-image" src="{{ item.img }}"></div>

							<div style="flex:2"><p>{{ item.name }}</p></div>
							<div style="flex:2"><p>Rp. {{ item.price }}</p></div>
							<div style="flex:1"><p>{{ item.size }}</p></div>
						</div>
						{% endfor %}
						<h5>Items:   {{ request.session.quantity }}</h5>
						<h5>Total:   Rp. {{ request.session.total }}</h5>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}