{% extends "layout/base.html" %}
{% load static %}
{% block title %} Checkout {% endblock %}
{% block stylesheets %}
<link rel="stylesheet" href="{% static 'css/custom.css' %}">
{% endblock %}
{% block content %}
<section class="bg-light">
        <div class="container pb-5">
			<pre><div id="result-json">JSON result will appear here after payment:<br></div></pre>
			<div class="row">
				<div class="col-lg-6">
					<div class="box-element" id="form-wrapper">
						<form id="form" method="POST">
							{% csrf_token %}
							<div id="user-info">
								<div class="form-field">
									<input required class="form-control" type="text" name="name" placeholder="Name..">
								</div>
								<div class="form-field">
									<input required class="form-control" type="email" name="email" placeholder="Email..">
								</div>
							</div>

							<div id="shipping-info">
								<hr>
								<p>Shipping Information:</p>
								<hr>
								<div class="form-field">
									<input class="form-control" type="text" name="address" placeholder="Address..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="city" placeholder="City..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="province" placeholder="Province..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="zipcode" placeholder="Zip code..">
								</div>
								<div class="form-field">
									<input class="form-control" type="text" name="country" placeholder="Country..">
								</div>
								<input type="hidden" name="product-id" value="{{ request.session.id }}">
								<input type="hidden" name="product-name" value="{{ request.session.name }}">
								<input type="hidden" name="product-size" value="{{ request.session.size }}">
								<input type="hidden" name="product-qty" value="{{ request.session.quantity }}">
								<input type="hidden" name="product-price" value="{{ request.session.price }}">
								<input type="hidden" name="product-total" value="{{ request.session.total }}">
							</div>

							<hr>
							<button id="pay-button" class="btn btn-success btn-block" type="submit">Continue</button>
						</form>
					</div>

					<br>

				</div>

				<div class="col-lg-6">
					<div class="box-element">
						<a  class="btn btn-outline-dark" href="/cart.html">&#x2190; Back to Cart</a>
						<hr>
						<h3>Order Summary</h3>
						<hr>
						<div class="cart-row">
							<div style="flex:2"><img class="row-image" src="{{ request.session.img }}"></div>
							<div style="flex:2"><p>{{ request.session.name }}</p></div>
							<div style="flex:2"><p>Rp. {{ request.session.price }}</p></div>
							<div style="flex:1"><p>{{ request.session.size }}</p></div>
						</div>
						<h5>Items:   {{ request.session.quantity }}</h5>
						<h5>Total:   Rp. {{ request.session.total }}</h5>
					</div>
				</div>
			</div>
		</div>
</section>
{% endblock %}

{% block javascripts %}
<script src="https://app.sandbox.midtrans.com/snap/snap.js" data-client-key="SB-Mid-client-UsEaLuaU7PMBbq_u"></script>
<script type="text/javascript">
  document.getElementById('pay-button').onclick = function(){
	// SnapToken acquired from previous step
	snap.pay('{{ transaction_token }}', {
	  // Optional
	  onSuccess: function(result){
		/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
	  },
	  // Optional
	  onPending: function(result){
		/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
	  },
	  // Optional
	  onError: function(result){
		/* You may add your own js here, this is just example */ document.getElementById('result-json').innerHTML += JSON.stringify(result, null, 2);
	  }
	});
  };
</script>

{% endblock javascripts %}