{% extends "layout/base.html" %}
{% load static %}
{% block title %} Product Detail {% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slick-theme.css' %}">
{% endblock stylesheets %}

{% block content %}
    <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <!-- col end -->
                <div class="col-12 mt-5">
                    <div class="card p-lg-5">
                        <div class="card-body">
                            <h3 class="mb-4 text-center">Profile Information</h3>
                            <form action="" method="POST">
                                {% csrf_token %}
                                <div class="row">

                                  <div class="input-container">
                                    <i class="fa fa-user icon"></i>
                                    <input class="input-field" type="text" {% if request.user.full_name %} value="{{ request.user.full_name }}" {% endif %} placeholder="Full name" name="full_name">
                                  </div>

                                  <div class="input-container">
                                    <i class="fa fa-envelope icon"></i>
                                    <input class="input-field" type="text" {% if request.user.email %} value="{{ request.user.email }}" {% endif %} placeholder="Email" name="email">
                                  </div>

<!--                                  <div class="input-container">-->
<!--                                    <i class="fa fa-key icon"></i>-->
<!--                                    <input class="input-field" type="password" placeholder="Password" name="password">-->
<!--                                  </div>-->

                                    <hr>
                                    <p>Shipping Information</p>
                                    <hr>

                                  <div class="input-container">
                                    <i class="fa fa-address-card icon"></i>
                                    <input class="input-field" type="text" {% if request.user.address %} value="{{ request.user.address }}" {% endif %} placeholder="Address..." name="address">
                                  </div>

                                  <div class="input-container">
                                    <i class="fa fa-building icon"></i>
                                    <input class="input-field" type="text" {% if request.user.city %} value="{{ request.user.city }}" {% endif %} placeholder="City..." name="city" >
                                  </div>

                                  <div class="input-container">
                                    <i class="fa fa-city icon"></i>
                                    <input class="input-field" type="text" {% if request.user.province %} value="{{ request.user.province }}" {% endif %} placeholder="Province..." name="province">
                                  </div>

                                  <div class="input-container">
                                    <i class="fa fa-map-pin icon"></i>
                                    <input class="input-field" type="text" {% if request.user.zip_code %} value="{{ request.user.zip_code }}" {% endif %} placeholder="Zip code..." name="zip_code">
                                  </div>

                                  <div class="input-container">
                                    <i class="fa fa-flag icon"></i>
                                    <input class="input-field" type="text" {% if request.user.country %} value="{{ request.user.country }}" {% endif %} placeholder="Cuontry..." name="country">
                                  </div>

                                </div>
                                <div class="row pb-3 pt-3">
                                    <div class="col d-grid">
                                        <button type="submit" class="btn btn-success btn-lg" name="buy" value="buy">Save change</button>
                                    </div>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
                <div id="liveAlertPlaceholder" class="mt-3"></div>
            </div>
        </div>
    </section>
    <!-- Close Content -->
{% endblock content %}

{% block javascripts %}
    <!-- Start Slider Script -->
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script>
        $('#carousel-related-product').slick({
            infinite: true,
            arrows: false,
            slidesToShow: 4,
            slidesToScroll: 3,
            dots: true,
            responsive: [{
                    breakpoint: 1024,
                    settings: {
                        slidesToShow: 3,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 600,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                },
                {
                    breakpoint: 480,
                    settings: {
                        slidesToShow: 2,
                        slidesToScroll: 3
                    }
                }
            ]
        });

        const alertPlaceholder = document.getElementById('liveAlertPlaceholder')

        const alert = (message, type) => {
          const wrapper = document.createElement('div')
          wrapper.innerHTML = [
            `<div class="alert alert-${type} alert-dismissible" role="alert">`,
            `   <div>${message}</div>`,
            '   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
            '</div>'
          ].join('')

          alertPlaceholder.append(wrapper)
        }

        const alertTrigger = document.getElementById('buyTrigger')
        if (alertTrigger) {
          alertTrigger.addEventListener('click', () => {
            alert('Failed to buy. Please select size first!', 'danger')
          })
        }

        const cartTrigger = document.getElementById('cartTrigger')
        if (cartTrigger) {
          cartTrigger.addEventListener('click', () => {
            alert('Add to cart failed. Please select size first!', 'danger')
          })
        }

    </script>
{% endblock javascripts %}