<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
  <title>
        Pritohelmet - {% block title %}{% endblock %}
    </title>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="{% static 'img/apple-icon.png' %}">
    <link rel="shortcut icon" type="image/x-icon" href=" {% static 'img/favicon.ico' %}">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/aos.css' %}">
    <link rel="stylesheet" href="{% static 'css/auth.css' %}">

    {% block stylesheets %}{% endblock stylesheets %}

</head>
<body data-spy="scroll" data-target="#navbarNav" data-offset="50">
  <section class="hero d-flex flex-column min-vh-100 justify-content-center align-items-center" id="login">
<!--    <div class="bg-overlay"></div>-->

    <div class="container">
      <div class="row">
        <div class="col-md-10 mx-auto mt-5 mb-5 bg-white rounded" data-aos="fade-up" data-aos-delay="300">
          <div class="row">
            {% block content %}{% endblock content %}
          </div>
        </div>
      </div>
    </div>
  </section>


  <script src="{% static 'js/jquery-1.11.0.min.js' %}"></script>
  <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'js/aos.js' %}"></script>
  <script src="{% static 'js/smoothscroll.js' %}"></script>
  <script src="{% static 'js/custom.js' %}"></script>
  <!-- Specific Page JS goes HERE  -->
  {% block javascripts %}{% endblock javascripts %}

</body>
</html>
